
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1491197257173'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1491197257173#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1491197257173') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1491197257173') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1491197257173#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tushuyinxiang:before { content: "\e601"; font-size: 12px;}

.icon-xie:before { content: "\e600"; font-size: 12px;}

.icon-shouji1:before { content: "\e625"; font-size: 12px;}

.icon-renqitaoxin:before { content: "\e605"; font-size: 12px;}

.icon-jiafangjiashiline:before { content: "\e71c"; font-size: 12px;}

.icon-goods:before { content: "\e60d";font-size: 12px; }

.icon-kafei:before { content: "\e63b"; font-size: 12px;}

.icon-nvzhuang:before { content: "\e62b";font-size: 12px; }

.icon-weibiaoti104:before { content: "\e63d";font-size: 12px; }

.icon-yiyao:before { content: "\e64b"; font-size: 12px;}

.icon-qiche:before { content: "\e67a"; font-size: 12px;}

.icon-shouji2:before { content: "\e61e"; font-size: 12px;}

.icon-dizhi:before { content: "\e68e";font-size: 18px; color:#dd2727;}

.icon-yingtao:before { content: "\e7a1"; font-size: 12px;}

.icon-hxzfont06:before { content: "\e655";font-size: 12px; }

.icon-you-copy:before { content: "\e608"; font-size: 50px;color:#C00000;}

.icon-nanzhuang01:before { content: "\e602";font-size: 12px; }

.icon-banshou001:before { content: "\e60a";font-size: 12px; }

.icon-liebiao-copy:before { content: "\e606"; font-size: 12px;}

.icon-huangguan:before { content: "\e70b"; font-size: 18px;color:#fff;}

.icon-dawan:before { content: "\e603"; font-size: 12px;}

.icon-meizhuangyongpin:before { content: "\e6ee"; font-size: 12px;}

.icon-te:before { content: "\e60b";font-size: 50px;color:#C00000;}

.icon-taoxin:before { content: "\e607"; font-size: 12px;}

.icon-serviceqitiantuihuan:before { content: "\e613";font-size: 52px;color:#C00000;}

.icon-zhubao:before { content: "\e61d"; font-size: 12px;}

.icon-shouyebingxiang:before { content: "\e604";font-size: 12px; }

.icon-ren:before { content: "\e616";font-size: 50px;color:#C00000; }

